html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
canvas {
  display: block;
}
main {
  height: calc(100vh - 30px); /* 保留 footer 空間 */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 30px;
  text-align: center;
  color: #888;
}
